<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://database2.cs.tamu.edu:3306/rhljain08-db" />
		<property name="username" value="rhljain08" />
		<property name="password" value="Q@werty123" />
	</bean>
	
	<bean id="userDao" class="com.moviebase.web.model.user.UserDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="genreDao" class="com.moviebase.web.model.genre.GenreDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="movieDao" class="com.moviebase.web.model.movie.MovieDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userMovieListDao" class="com.moviebase.web.model.userMovieList.UserMovieListDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>